[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "bundle/vim-lint"]
	path = bundle/vim-lint
	url = https://github.com/dbakker/vim-lint.git
