[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = git@voice-ats.adc1.level3.com:vim-perl
[submodule "bundle/vim-lint"]
	path = bundle/vim-lint
	url = git@voice-ats.adc1.level3.com:vim-lint
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@voice-ats.adc1.level3.com:syntastic
[submodule "bundle/gundo-vim"]
    path = bundle/gundo-vim
    url = git@voice-ats.adc1.level3.com:gundo-vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@voice-ats.adc1.level3.com:nerdtree
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@voice-ats.adc1.level3.com:vim-fugitive
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@voice-ats.adc1.level3.com:vim-gitgutter
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@voice-ats.adc1.level3.com:vim-airline
[submodule "bundle/vim-undotree"]
    path = bundle/vim-undotree
    url = git@voice-ats.adc1.level3.com:undotree
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@voice-ats.adc1.level3.com:vim-colors-solarized
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = git@voice-ats.adc1.level3.com:undotree
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = git@voice-ats.adc1.level3.com:gundo.vim
